* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inria Serif', serif;
  background: #000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.app-container {
  width: 390px;
  height: 700px;
  position: fixed;
  background: white;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  padding-bottom: 34px;
}

h1 {
  font-size: 36px;
  text-align: center;
  line-height: 1.2;
  width: 340px;
}

h2 {
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  width: 340px;
}

.begin-button {
  background: #e70000;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: 'Inria Serif', serif;
  font-size: 36px;
  width: 340px;
  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
}

.help-button {
  background: #e70000;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: 'Inria Serif', serif;
  font-size: 36px;
  width: 340px;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
}

.logo {
  width: 200px; 
  height: 200px;
  margin-top: 10px;
}








