* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inria Serif', serif;
  background: #000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.app-container {
  width: 390px;
  /* iPhone 13 height is 844px, bottom bar is ~34px */
  height: 810px;
  position: fixed;
  top: 0;
  background: white;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 48px;
  text-align: center;
  line-height: 1.2;
  width: 340px;
}

.gallery-select {
  font-size: 36px;
  text-align: center;
  line-height: 1.2;
  width: 355px;
}

.begin-button {
  background: #e70000;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: 'Inria Serif', serif;
  font-size: 64px;
  width: 355px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 20px;
}

.help-button {
  background: #e70000;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: 'Inria Serif', serif;
  font-size: 36px;
  width: 340px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
}

.map {
  width: 355px; 
  height: 400px;
}